In [1]:
from scTrace.pipeline import *

E:\Software\Anaconda\installation\envs\scTrace_env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Construct Larry-Diff dataset

In [2]:
dataPath = "D:/Lineage-data/Science2020-Larry/In vitro differentiation time course/"

In [3]:
counts_matrix = sc.read_mtx(dataPath+'stateFate_inVitro_normed_counts.mtx.gz')

In [18]:
counts_matrix.X

<130887x25289 sparse matrix of type '<class 'numpy.float32'>'
	with 176867560 stored elements in Compressed Sparse Row format>

In [4]:
metadata = pd.read_csv(dataPath+'stateFate_inVitro_metadata.txt.gz', sep='\t', index_col=0)
gene_names = pd.read_csv(dataPath+'stateFate_inVitro_gene_names.txt.gz', header=None)

In [20]:
gene_names.columns = ['gene_name']

In [5]:
metadata

,Cell barcode,Time point,Starting population,Cell type annotation,Well,SPRING-x,SPRING-y
Library,,,,,,,
d6_2_2,GCGTGCAA-AGAAGTTA,6.0,Lin-Kit+Sca1-,Undifferentiated,2,411.496,-96.190
d6_2_2,AAGGGACC-CTCGATGC,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-587.462,-306.925
d6_2_2,CGTACCGA-AGCGCCTT,6.0,Lin-Kit+Sca1-,Monocyte,2,1429.805,-429.300
d6_2_2,CTGAAGGG-AGGAGCTT,6.0,Lin-Kit+Sca1-,Neutrophil,2,1150.028,-2030.369
d6_2_2,CCGTAGCT-AGGCAGTT,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-1169.594,362.010
...,...,...,...,...,...,...,...
LSK_d6_1_3,TCTGATTT-CGGGCTTT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-308.468,-163.223
LSK_d6_1_3,AGTCACAA-TGTGTCCT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-3.435,575.133
LSK_d6_1_3,GGAGGTTT-AGGCAGTT,6.0,Lin-Kit+Sca1+,Monocyte,1,2548.309,24.683
LSK_d6_1_3,CCGGAAAT-GGGAAGGT,6.0,Lin-Kit+Sca1+,Monocyte,1,2658.601,131.098
LSK_d6_1_3,GTATTGAC-GGGTGTAT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-266.344,996.297

In [7]:
metadata["Time point"].value_counts()

Time point
6.0    54140
4.0    48498
2.0    28249
Name: count, dtype: int64

In [3]:
clone_matrix_ori = sc.read_mtx(dataPath+'stateFate_inVitro_clone_matrix.mtx.gz')

In [4]:
clone_matrix_ori

AnnData object with n_obs × n_vars = 130887 × 5864

In [5]:
clone_matrix = np.array(clone_matrix_ori.X.todense())

In [6]:
clonal_index = np.nonzero(clone_matrix)

In [12]:
metadata["Clone"] = "unknown"

In [13]:
metadata["Clone"][clonal_index[0]] = clonal_index[1]

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_1932\562998929.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  metadata["Clone"][clonal_index[0]] = clonal_index[1]
C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_1932\562998929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["Clone"][clonal_index[0]] = clonal_index[1]
C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_1932\562998929.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  metadata["Clone"][clonal_index[0]] = clonal_index[1]

In [14]:
metadata

,Cell barcode,Time point,Starting population,Cell type annotation,Well,SPRING-x,SPRING-y,Clone
Library,,,,,,,,
d6_2_2,GCGTGCAA-AGAAGTTA,6.0,Lin-Kit+Sca1-,Undifferentiated,2,411.496,-96.190,573
d6_2_2,AAGGGACC-CTCGATGC,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-587.462,-306.925,1440
d6_2_2,CGTACCGA-AGCGCCTT,6.0,Lin-Kit+Sca1-,Monocyte,2,1429.805,-429.300,394
d6_2_2,CTGAAGGG-AGGAGCTT,6.0,Lin-Kit+Sca1-,Neutrophil,2,1150.028,-2030.369,unknown
d6_2_2,CCGTAGCT-AGGCAGTT,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-1169.594,362.010,1972
...,...,...,...,...,...,...,...,...
LSK_d6_1_3,TCTGATTT-CGGGCTTT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-308.468,-163.223,unknown
LSK_d6_1_3,AGTCACAA-TGTGTCCT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-3.435,575.133,1374
LSK_d6_1_3,GGAGGTTT-AGGCAGTT,6.0,Lin-Kit+Sca1+,Monocyte,1,2548.309,24.683,unknown
LSK_d6_1_3,CCGGAAAT-GGGAAGGT,6.0,Lin-Kit+Sca1+,Monocyte,1,2658.601,131.098,unknown
LSK_d6_1_3,GTATTGAC-GGGTGTAT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-266.344,996.297,unknown

In [15]:
metadata["Clone"].value_counts()

Clone
unknown    81585
1261         177
2370         165
5714         142
292          134
           ...
5594           2
866            2
4884           2
5101           2
203            2
Name: count, Length: 5865, dtype: int64

In [16]:
metadata["Clone"][metadata["Clone"] == "unknown"] = np.nan

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_1932\3085349704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadata["Clone"][metadata["Clone"] == "unknown"] = np.nan

In [24]:
metadata["Clone"].value_counts()

Clone
1261    177
2370    165
5714    142
292     134
5209    130
       ...
5594      2
866       2
4884      2
5101      2
2251      2
Name: count, Length: 5864, dtype: int64

In [21]:
counts_matrix.obs = metadata
counts_matrix.var = gene_names
counts_matrix.obs_names_make_unique()
counts_matrix.var_names_make_unique()

In [22]:
counts_matrix

AnnData object with n_obs × n_vars = 130887 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [23]:
counts_matrix.obs

,Cell barcode,Time point,Starting population,Cell type annotation,Well,SPRING-x,SPRING-y,Clone
Library,,,,,,,,
d6_2_2,GCGTGCAA-AGAAGTTA,6.0,Lin-Kit+Sca1-,Undifferentiated,2,411.496,-96.190,573
d6_2_2-1,AAGGGACC-CTCGATGC,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-587.462,-306.925,1440
d6_2_2-2,CGTACCGA-AGCGCCTT,6.0,Lin-Kit+Sca1-,Monocyte,2,1429.805,-429.300,394
d6_2_2-3,CTGAAGGG-AGGAGCTT,6.0,Lin-Kit+Sca1-,Neutrophil,2,1150.028,-2030.369,NaN
d6_2_2-4,CCGTAGCT-AGGCAGTT,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-1169.594,362.010,1972
...,...,...,...,...,...,...,...,...
LSK_d6_1_3-3120,TCTGATTT-CGGGCTTT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-308.468,-163.223,NaN
LSK_d6_1_3-3121,AGTCACAA-TGTGTCCT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-3.435,575.133,1374
LSK_d6_1_3-3122,GGAGGTTT-AGGCAGTT,6.0,Lin-Kit+Sca1+,Monocyte,1,2548.309,24.683,NaN
LSK_d6_1_3-3123,CCGGAAAT-GGGAAGGT,6.0,Lin-Kit+Sca1+,Monocyte,1,2658.601,131.098,NaN
LSK_d6_1_3-3124,GTATTGAC-GGGTGTAT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-266.344,996.297,NaN

In [25]:
counts_matrix.obs["Clone"] = np.array(counts_matrix.obs["Clone"]).astype(str)

In [30]:
counts_matrix.obs

,Cell barcode,Time point,Starting population,Cell type annotation,Well,SPRING-x,SPRING-y,Clone
Library,,,,,,,,
d6_2_2,GCGTGCAA-AGAAGTTA,6.0,Lin-Kit+Sca1-,Undifferentiated,2,411.496,-96.190,573
d6_2_2-1,AAGGGACC-CTCGATGC,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-587.462,-306.925,1440
d6_2_2-2,CGTACCGA-AGCGCCTT,6.0,Lin-Kit+Sca1-,Monocyte,2,1429.805,-429.300,394
d6_2_2-3,CTGAAGGG-AGGAGCTT,6.0,Lin-Kit+Sca1-,Neutrophil,2,1150.028,-2030.369,nan
d6_2_2-4,CCGTAGCT-AGGCAGTT,6.0,Lin-Kit+Sca1-,Undifferentiated,2,-1169.594,362.010,1972
...,...,...,...,...,...,...,...,...
LSK_d6_1_3-3120,TCTGATTT-CGGGCTTT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-308.468,-163.223,nan
LSK_d6_1_3-3121,AGTCACAA-TGTGTCCT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-3.435,575.133,1374
LSK_d6_1_3-3122,GGAGGTTT-AGGCAGTT,6.0,Lin-Kit+Sca1+,Monocyte,1,2548.309,24.683,nan
LSK_d6_1_3-3123,CCGGAAAT-GGGAAGGT,6.0,Lin-Kit+Sca1+,Monocyte,1,2658.601,131.098,nan
LSK_d6_1_3-3124,GTATTGAC-GGGTGTAT,6.0,Lin-Kit+Sca1+,Undifferentiated,1,-266.344,996.297,nan

In [27]:
counts_matrix.write(dataPath + 'larry_scobj.h5ad')

## Downsample 50% (stratified by time point)

In [28]:
all_times = list(counts_matrix.obs['Time point'])
index = np.array([])

In [36]:
for time in np.unique(all_times):
    index_sel = np.array(counts_matrix.obs[counts_matrix.obs['Time point'] == time].index)
    new_index = np.random.choice(index_sel, int(0.5 * len(index_sel)), replace=False)
    index = np.append(index, new_index)

In [38]:
len(index)

65443

In [40]:
count_down = counts_matrix[index,:]

In [41]:
count_down

View of AnnData object with n_obs × n_vars = 65443 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [44]:
count_down.obs["Clone"][count_down.obs["Clone"] == "nan"] = np.nan

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_1932\3848097348.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  count_down.obs["Clone"][count_down.obs["Clone"] == "nan"] = np.nan

In [46]:
np.sum(count_down.obs["Clone"].value_counts())

24693

In [47]:
count_down.write(dataPath + 'larry_scobj_down50.h5ad')

In [3]:
data_combined = sc.read(dataPath + 'adata.h5ad')

E:\Software\Anaconda\anaconda3\envs\scLTMF_env\lib\site-packages\anndata\_core\anndata.py:1818: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [13]:
data_combined

AnnData object with n_obs × n_vars = 130887 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y'
    var: '_index'

## Save another 50% percent of data

In [2]:
dataPath_ori = 'D:/Lineage-data/Science2020-Larry/In vitro differentiation time course/'
data_combine = sc.read(dataPath_ori + 'larry_scobj.h5ad')
data_combine_1 = sc.read(dataPath_ori + 'larry_scobj_down50.h5ad')

E:\Software\Anaconda\anaconda3\envs\scLTMF_env\lib\site-packages\anndata\_core\aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
E:\Software\Anaconda\anaconda3\envs\scLTMF_env\lib\site-packages\anndata\_core\aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [3]:
data_combine

AnnData object with n_obs × n_vars = 130887 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [4]:
data_combine_1

AnnData object with n_obs × n_vars = 65443 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [5]:
all_cells = set(data_combine.obs_names)
cells_1 = set(data_combine_1.obs_names)
unique_to_adata2 = all_cells - cells_1

In [8]:
data_combine_2 = data_combine[data_combine.obs_names.isin(unique_to_adata2)].copy()

In [9]:
data_combine_2

AnnData object with n_obs × n_vars = 65444 × 25289
    obs: 'Cell barcode', 'Time point', 'Starting population', 'Cell type annotation', 'Well', 'SPRING-x', 'SPRING-y', 'Clone'
    var: 'gene_name'

In [10]:
data_combine.obs["Clone"].value_counts()

Clone
nan     81585
1261      177
2370      165
5714      142
292       134
        ...
2155        2
4633        2
4632        2
4631        2
231         2
Name: count, Length: 5865, dtype: int64

In [11]:
data_combine_1.obs["Clone"].value_counts()

Clone
1261    99
2370    78
5714    77
5209    77
292     68
        ..
4462     1
4458     1
2107     1
4454     1
nan      0
Name: count, Length: 5287, dtype: int64

In [13]:
data_combine_2.obs["Clone"][data_combine_2.obs["Clone"] == "nan"] = np.nan
data_combine_2.obs["Clone"].value_counts()

C:\Users\ZeyuChen\AppData\Local\Temp\ipykernel_9068\1802836609.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data_combine_2.obs["Clone"][data_combine_2.obs["Clone"] == "nan"] = np.nan

Clone
2370    87
1261    78
3345    72
292     66
5714    65
        ..
3208     1
3203     1
3202     1
3201     1
nan      0
Name: count, Length: 5286, dtype: int64

In [15]:
data_combine_2.write(dataPath_ori + 'larry_scobj_down50_another.h5ad')

## Split dataset

In [ ]:
data_combine = sc.read(dataPath + 'larry_scobj_down50.h5ad')
data_combine.var_names = data_combine.var.loc[:, "gene_name"]

In [ ]:
def getScObjects(scobj, item, values, n_neighbors=10, n_pcs=40):
    data_split = [scobj[scobj.obs[item] == v, :] for v in values]
    data_split = [preProcess(d, log_normalize=True) for d in data_split]
    comm_hvgs = set([g for d in data_split for g in d.var.index[d.var.highly_variable]])

    for di in range(len(data_split)):
        data_split[di].var.highly_variable = [gene in comm_hvgs for gene in data_split[di].var.index]
        data_split[di] = runScanpy(data_split[di], n_neighbors, n_pcs, regress=False)

    return (data_split)

In [ ]:
data_2, data_4, data_6 = getScObjects(data_combine, item='Time point', values=[2, 4, 6], n_neighbors=10, n_pcs=40)

In [ ]:
data_2.write(dataPath_ori + 'D2_larry_scobj_down50.h5ad')
data_4.write(dataPath_ori + 'D4_larry_scobj_down50.h5ad')
data_6.write(dataPath_ori + 'D6_larry_scobj_down50.h5ad')